/* General Styling */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Manrope", Arial, sans-serif;
  background-color: #f5f7fa;
  color: #333;
  margin-left: 5px;
}

.goals-page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* Header Section */
.header {
  display: flex;
  align-items: center;
  position: relative;
}

.rdm-logo-left {
  height: 39px;
  margin-right: auto;
  margin-top: 50px;
  margin-left: 10px;
}

.gradient-header {
  background: linear-gradient(102deg, #23cf8e 0%, #00a8f4 100%);
  padding: 2.8rem;
  border-radius: 0 0 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  box-sizing: border-box;
}

.welcome-text h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.welcome-text p {
  margin: 0;
  font-size: 0.9rem;
}

.add-button {
  background: #fff;
  color: #00a8f4;
  border: none;
  font-size: 1.5rem;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Basic Settings Section */
.basic-settings {
  width: 90%;
  margin-top: 100px;
}

.settings-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-left: 15px;

}

.settings-option {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  background: #fff;
  border-radius: 12px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-left: 15px;
}

.settings-icon {
  font-size: 20px;
  color: #474f62;
  margin-right: 10px;
}

.settings-text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  flex: 1;
}

/* Logout Section */
.logout-section {
  margin: 2rem 0;
  width: 90%;
  margin-top: 350px;
  margin-left: 15px;
}

.logout-button {
  width: 100%;
  padding: 12px 0;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: linear-gradient(102deg, #23cf8e, #00a8f4);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


/* Footer Navigation */
.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  border-top: 1px solid #ddd;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaa;
  font-size: 0.8rem;
  cursor: pointer;
}

.footer-item.active {
  background: linear-gradient(269deg, #0DCAF0 32.86%, #27D07D 85.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.footer-item p {
  margin: 0;
  font-size: 1.2rem;
}

.footer-item svg {
  margin-bottom: 0.3rem;
  color: inherit;
}

.footer-item span {
  font-size: 0.8rem;
  color: inherit;
}


